body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    background: linear-gradient(to right, #ffb6c1, #ff69b4);
    text-align: center;
    padding: 15px;
}

/* MENU */
.sidebar {
    width: 250px;
    background-color: #FFE4EC;
    padding: 20px;

    display: flex;
    flex-direction: column; /* Quan trọng: xếp dọc */
    gap: 12px; /* khoảng cách giữa các mục */
}
.menu-item {
    display: block;   /* mỗi mục chiếm 1 dòng */
    text-decoration: none;
    padding: 12px;
    background-color: white;
    border-radius: 20px;
    color: #C2185B;
    font-weight: bold;
    text-align: center;
}

nav a:hover {
    background-color: #ff1493;
    color: white;
}

.active {
    background-color: #c71585;
    color: white;
}

/* LAYOUT */
.container {
    display: flex;
}

aside {
    width: 25%;
    background-color: #f2f2f2;
    padding: 15px;
}

main {
    width: 75%;
    padding: 20px;
    transition: opacity 0.5s ease;
}

/* HIỆU ỨNG */
.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

/* FOOTER */
footer {
    background-color: #ddd;
    text-align: center;
    padding: 10px;
}