body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fffaf0;
    color: #333;
}

h1 {
    color: #8b0000;
}

img {
    margin: 15px 0;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8b0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
